body { 
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(209, 227, 221);
}

form { 
    display: flex;
    flex-direction: column;
    width:300px ;
   
}
body {
    display: flex;
    justify-content: center;
}
form > input { 
    margin-bottom: 20px;
    margin-top: 20px;
    height: 25px;
    text-align: center;
}

form > label { 
    font-weight: 100;
    margin-top: 20px;
}

form > p { 
    font-weight: 200;
}

form > input:hover { 
    background-color: rgb(217, 217, 217);
}

